.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}
li{
    font-size: 20px;
}
label{
    font-size: 19px;
    
}
.loc-css{
    font-size: 19px;
    width: 70%

}
.parkingLocationTable{
    margin-top:1em;
    padding: 0.8em;
    box-shadow: 0px 2px 12px 0px; 
}
