<form #LoginForm="ngForm"  class="form-horizontal">
  <fieldset>


    <legend>Log In</legend>
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">Email Address</label>
      <div class="col-md-4">
        <input id="email" name="email" type="email" placeholder="abc@gmail.com" class="form-control input-md" ngModel>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="Password">Password</label>
      <div class="col-md-4">
        <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" ngModel>
      </div>
    </div>
    <div class="form-group btn-login">

      <div class="col-md-4">
        <button type="button" class="btn btn-success" (click) = "login(LoginForm.value)">Log in</button>
      </div>
    </div>

  </fieldset>
</form>